html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content, .error-on-load  {
  padding: .5rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}


.error-on-load {
  color: red;
  font-size: 150%;
}


/* Bootstrap overrides */

.form-control {
  padding: 2px 4px !important;
}

.alert {
  padding: .3rem;
}

.badge {  
  font-weight: normal;
  color: #fcfcfc;
  display: inline;
  text-transform: uppercase;
  border-radius: 4px !important;
}