@use "./colors.module.sass"
@use "./typography.module.sass" as text

.container
  background: linear-gradient(to bottom, #fdfbff, #dbe2ff, #fff)
  padding: .5rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.title
  margin-bottom: 1rem
  color: colors.$alternative

.description 
  margin-bottom: 1rem
  color: colors.$secondary

.content 
  padding: 0 2rem
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 800px

.logo 
  height: 1em
  margin-left: 0.5rem

.footer 
  display: flex
  flex: 1
  padding: 2rem 0
  border-top: 1px solid #eaeaea
  justify-content: center
  align-items: center

  & a 
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 1

.link_to_home
  position: fixed
  top: 5px
  left: 5px
  //@include text.small

.basecurrency_selector 
  position: fixed
  top: 5px
  right: 5px
  @include text.small
  