@import "./colors.sass"

.page_container
  padding: 1rem  
  background: linear-gradient(to bottom, #fdfbff, #dbe2ff, #fff)
  padding: .5rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.page_title
  margin-bottom: 20px
  color: $alternative


  //margin: 0 0 2rem 0;
  //line-height: 1.05;
  //font-size: 2.5rem;
  //text-align: center;

.page_description 
  margin-bottom: 20px
  color: $secondary

.page_content
  padding: 20px
  color: $secondary

.link_to_home
  position: fixed
  top: 5px
  left: 5px
  @include textSmall()
  //font-size: 80%

