// https://www.code-boost.com/beginners-guide-to-scss/

@import "./colors.sass"


@mixin button-padding()
  padding: 2px 6px

@mixin button-border() 
  border-radius: 2px
  border-width: 1px
  border-style: solid
  border-top-color: $border-light
  border-left-color: $border-light
  border-right-color: $border-dark
  border-bottom-color: $border-dark

@mixin button() 
  @include button-padding
  @include button-border
  border-radius: 4px

  text-transform: uppercase
  font-weight: bold

  color: $primary-text-on-background
  background-color: $primary

  &:hover
    background-color: $primary-hover  

.button_text 
  @include button
  border: 0
  color: $primary
  background-color: transparent  

  &:hover
    color: $primary
    background-color: $primary-text-on-background  

  &:active
    color: $primary-active
  
  &:focus
    // after clicked a button remain with :focus
  
  &:active:focus 
    //color: $alternative
    //box-shadow: 0 0 0.25rem $alternative-shadow


.button_text_alternative 
  @include button
  border: 0
  color: $alternative
  background-color: transparent

  &:hover
    color: $alternative
    background-color: $alternative-text-on-background
  
  &:active
    color: $alternative-active    

.section
  padding: 1rem
  margin: 1rem 0
  border-radius: 4px
  background-color: $background
  box-shadow: 0 0.25rem 0.5rem $background-shadow
    

.fieldLabel
  color: $primary

.fieldValue
  color: $secondary
  font-weight: bold    