// this one is no more visible
//.text_small 
//  font-size: 80%

// this one can be used as: @include text.small
@mixin small
  font-size: 80%

@mixin code()
  padding: .25em
  line-height: 0

//small
//  font-size: 80%