//@use "typography.module.sass" as text
@use "colors.module.sass"
  
@mixin small
  font-size: 80%

.text_small
  @inlude small

.align_right
  text-align: right

.fieldLabel
  @include small
  color: colors.$secondary
  white-space: nowrap  

.fieldValue
  color: colors.$primary
  font-weight: bold    

.code 
  background: colors.$background
  border-radius: 5px
  padding: 0.75rem
  font-size: 1.1rem
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace