@use "typography.module.sass" as text
@use "colors.module.sass"
  
.text_small
  @inlude text.small

.fieldLabel
  @include text.small
  color: colors.$secondary
  white-space: nowrap  

.fieldValue
  color: colors.$primary
  font-weight: bold    